*{
    font-family: Arial;  
    padding:0;
    margin: 0;
}

.container{
    with: 1200px;
    margin: 0 auto;
}

.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.starter-template{
    padding: 40px 50px;
}


.content{
    margin-top: 100px;
}

.result_search{
    margin-top: 50px;
}

.search_form{
    margin-top: 100px;
}