*{
    font-family: Arial;  
    padding:0;
    margin: 0;
}

body{
    padding-top:50px;
}

.centrl{
    text-align: center;
}

.fail,.saccess {
    font-size:1.1em;
    font-weight:bold; 
}

.fail{
    color:red;
}

.succes{
    color:green;
}

.underline{
    text-decoration: underline;
}


